.menu{
    height: 40px;
    background-color: rgb(40, 39, 41);
    width: auto;
}
.boton{
    float: right;
    height: 38px;
    background-color: rgb(40, 39, 41);
    color: rgb(255, 255, 255);
    margin-left: 5px;
    border: 1px solid black;
}
.titulo{
    float: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.mensaje{
    font-family: fantasy;
}
.menucompras{
    height: 30px;
    background-color: red;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

